# Configurações da Aplicação
NODE_ENV=development
PORT=3000

# Banco de Dados (opcional)
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=exemplo_cicd
# DB_USER=user
# DB_PASSWORD=password

# API
API_URL=http://localhost:3000
